<div class = "question">
  <%= params[:question]%><br><b></%><i>- You</i></b>
</div>

<div class = "answer">
  <%= @answer  %>
  <br><b><i>- Your coach</i></b>
</div>


<%= link_to "Ask a new question", ask_path %>

