a {
  text-decoration: none;
}


// Defining a variable
$gray: #F4F4F4;

body {
  background: white; // Using this variable
  line-height: 2;
  font-family: helvetica;
}

.banner {
  background: red;
  h1 {
    font-size: 50px;
  }
}

a {
  color: grey;
  margin-top : 10px;
  &:hover {
    color: black;
  }
}

.answer {
  background : lightpink;
  padding : 10px;
  margin-top: 10px;
}

.question {
  background: $gray;
  padding : 10px;
}

#ask_btn {
  border-radius: 5px;
  background-color : purple;
  color : white;
}
